<div class="row">
  <div class="col-md-6">
    <h3>May 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>11:00</td>  <td>Introductions</td> </tr>
      <tr> <td>11:05</td>  <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Fair Data Introduction</a></td> </tr>
      <tr> <td>11:20</td> <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Findable</a></td> </tr>
      <tr> <td>11:50</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td> <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Accessible</a></td> </tr>
      <tr> <td>12:50</td>  <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Interoperable</a></td> </tr>
      <tr> <td>1:20</td>  <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Reusable</a></td> </tr>
      <tr> <td>1:50-2:00</td>  <td>BREAK</td> </tr>
      <tr> <td>2:00-2:50</td>  <td>Agriculture Repositories and Databases</td> </tr>
      <tr> <td>2:50-3:00</td>  <td>Prepare for Next May 29th Meeting</td> </tr>
    </table>
  </div>
  
<div class="col-md-6">
    <h3>May 29</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>11:00</td>  <td>Re-Introductions</td> </tr>
      <tr> <td>11:05</td>  <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Fair Data Introduction Reminder</a></td> </tr>
      <tr> <td>11:20</td>  <td>Revisit Agriculture Repositories and Databases</td> </tr>
      <tr> <td>11:50</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td>  <td>Review of participant Datasets and Programs</td> </tr
      <tr> <td>1:50-2:00</td>  <td>BREAK</td> </tr>
      <tr> <td>2:00-2:50</td>  <td>Individual Breakout Session</td> </tr>
      <tr> <td>2:50-3:00</td>  <td>Conclusion and Feedback</td> </tr>
    </table>
  </div>
</div>
