<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Introductions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:05</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">FAIR Data Introduction</a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row 4   -->
        <td>11:20</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Findable</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:50</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Accessible</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 7   -->
        <td>12:50</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Interoperable</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>1:20</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Reusable</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>1:50-2:00</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>2:00</td>        <!-- time    -->
        <td>Agriculture Repositories and Databases</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
      <td>2:50</td>        <!-- time    -->
        <td>Prepare for Next May 29th Meeting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
      <td>3:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 29</h3>
    <table class="table table-striped">
  <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Introductions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:05</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-fair-research/aio/index.html">Review of FAIR Data</a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row 4   -->
        <td>11:20</td>        <!-- time    -->
        <td>Revisit Agriculture Repositories and Databases</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:50</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20</td>        <!-- time    -->
        <td>Review of participant Datasets and Programs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>1:50-2:00</td>        <!-- time    -->
        <td>BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>2:00</td>        <!-- time    -->
        <td>Individual Breakout Sessions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
      <td>2:50</td>        <!-- time    -->
        <td>Conclusion and Feedback</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
      <td>3:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
